
@{
    ViewBag.Title = "Lista de empleados (EF)";
}

<h2>@ViewBag.Title</h2>

<br />

@if (Model != null)
{

    <select id="selAreas">

        <option value="0">Selecciona empleado</option>

        @foreach (MVCEntityFramework.Models.Empleados empleados in Model)
        {
            <option value="@empleados.Id">@empleados.Nombre</option>
        }

    </select>
}